body {
	margin: 20px;
	padding: 20px;
}

#wrapper {
	width: 70%;
	margin: 0 auto;
}

/*
	=============================================
				Mast head
	==============================================
*/
#masthead {
	border: 1px solid black;
	height: 100px;
}

.masthead_title {
	font-size: 2.6em;
	padding-left: 30%;
}

#masthead_menu {
	padding-left: 10px;
}

/*
	=============================================
				content
	==============================================
*/
#content {
	border: 1px solid black;
	float: right;
	width: 65%;
	margin: 10px 0;
	padding: 10px;
}

/*
	=============================================
				sidebar
	==============================================
*/
#sidebar {
	border: 1px solid black;
	width: 25%;
	float: left;
	margin: 10px 0;
	padding: 10px;
}

/*
	=============================================
				footer
	==============================================
*/
#footer {
	border: 1px solid black;
	clear: both;
	height: 30px;
}

.footer {
	padding-left: 30%;
}